.wrap{

  width: 100%;

  background: beige;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.users{
  display: flex;
  flex-direction: column;

  gap: 10px;

  padding: 10px;

  text-align: center;

  box-sizing: border-box;
  border: 3px solid cornflowerblue;
  border-radius: 10px;
}

.user{
  display: flex;
  flex-direction: column;
}

.rockets{
  width: 90%;

  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: 20px;

  box-sizing: border-box;
  border: 3px solid cornflowerblue;
  border-radius: 10px;
}

.rocket{
  width: 300px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid;
  border-radius: 10px;
}

.rocket>img{
  width: 200px;
}

h2{
  width: 100%;
}