.body {
  margin: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.menu {
  width: 100%;

  background: lightsteelblue;

  display: flex;
}

.content{
  width: 100%;
}

h2{
  text-align: center;
}

ul{
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

ul li{
  list-style-type: none;
}